<div class="jumbotron text-center">
	<h1>Users</h1>

</div>

<div> <!-- New user form -->
<form ng-submit="submit()">
	<input type="text" placeholder="New Username" ng-model="newUsername"/>
	<input type="password" placeholder="New Password" ng-model="newPassword"/>
	<button type="submit">Create</button>
</form>
</div>

<div> <!-- Search existing users -->
	<h3>Search for someone</h3>
	<form ng-submit="searchSubmit()">
	<input type="email" placeholder="Search for someone by email" ng-model="searchEmail" />
		<button type="submit">Find</button>
	</form>
	<div> <!-- results -->
		<em>{{ findResult.local.email }}</em>
	</div>
</div>

<div> <!-- List of current users -->
	<h3>All users</h3>
	<div ng-repeat="user in users">
		<strong>{{ user.local.email }}</strong><br>
		<em> Member since {{ user.local.created }}</em><br>
		<em> Last modified {{ user.local.modified }}</em><br>
		<em> Valid: {{ user.local.valid }}</em><br>
	</div>
</div>